/*
header img {
    display: block;
    width: 100%;
}*/

body {
    font-family: Montserrat;
}

.header {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.brand {
    text-align: center;
    padding-top: 30px;
}

h2 {
    padding: 10px 0;
}

.header-img {
    font-size: 54px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid #fff;
    position: absolute;
    bottom: 15%;
    left: 134px;
    padding: 20px;
    white-space: nowrap;
}

.header-img span {
    color: orange;
}

.our-services__images div {
    float: left;
    margin: 10px;
}

.our-services__images {
    width: 50%;
}
